body {
  background: #e6e600;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  word-wrap: break-word !important;
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  font-size: 85px;
  text-align: center;
  color: #000000;
}
h3 {
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #FFF;
}
h3 a { color: #FFF; }
a { color: #FFF; }
h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 50px;
  line-height: 70px;
  font-family: 'Source Sans Pro', sans-serif;
}
#container {
  margin: 0 auto;
  max-width: 890px;
}
p { text-align: center; }
 .switch, [id^=opt] {
 display: none;
}
nav {
  margin: 0;
  padding: 0;
  background-color: #252546;
}
#logo {
  display: block;
  padding: 0 30px;
  float: left;
  font-size: 20px;
  line-height: 60px;
}
nav:after {
  content: "";
  display: table;
  clear: both;
}
nav ul {
  float: right;
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
}
nav ul li {
  display: inline-block;
  float: left;
  background-color: #252546;
  margin: 0px;
}
nav a {
  display: block;
  color: #FFF;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
  padding: 0 20px;
}
nav ul li ul li:hover { background: #000000; }
nav a:hover { background-color: #000000; }
nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
}
nav ul li:hover > ul { display: inherit; }
nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}
nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}
li > a:after { content: ' +'; }
li > a:only-child:after { content: ''; }

body {
  font: normal medium/1.4 sans-serif;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
  color: black;
}
tbody tr:hover {
  background: purple;
}

/* Media Queries
--------------------------------------------- */
@media all and (max-width : 920px) {
#logo {
  display: block;
  width: 100%;
  text-align: center;
  float: none;
  padding: 0;
}
nav { margin: 0; }
.switch + a,
 .table { display: none; }
.switch {
  display: block;
  background-color: #252546;
  color: #FFF;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
  border: none;
  padding: 0 20px;
}
.switch:hover { background-color: #000000; }
[id^=opt]:checked + ul { display: block; }
nav ul li {
  display: block;
  width: 100%;
}
nav ul ul .switch,
 nav ul ul a { padding: 0 60px; }
nav ul ul ul a { padding: 0 100px; }
nav a:hover,
 nav ul ul ul a { background-color: #808000; }
nav ul li ul li .switch,
 nav ul ul a { background-color: #999999; }
nav ul ul {
  color: #ffffff;
  float: none;
  position: static;
}
nav ul ul li:hover > ul,
nav ul li:hover > ul { display: none; }
nav ul ul li {
  display: block;
  width: 100%;
}
nav ul ul ul li { position: static;
}
}
@media all and (max-width : 330px) {
nav ul li {
  display: block;
  width: 94%;
}
}
</style>